<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test diary">
		<packages>
			<package name="appium.sampleapp.cucumber_testng" />
		</packages>
	</test>
	<!-- 
	<test name="Test">
		<classes>
			<class name="appium.sampleapp.cucumber_testng.RpnCalculatorStepdefs" />
			<class name="appium.sampleapp.cucumber_testng.Entry" />
		</classes>
	</test>
	 -->
</suite> <!-- Suite -->
